{% from 'parts/examples.j2' import examples %}
Original problem: {{ instance.problem }}
Previously solved subproblems, available for use in this answer:
{{ examples(instance.solutions) }}
Solve the current question using the previous answers where relevant:
{{ question }}
{{ output_format }}
