{% from "parts/examples.j2" import examples %}
Classify the sentiment using these demonstrations:
{{ examples(demonstrations) }}
Input:
{{ question }}
Return only a JSON value matching this schema:
{{ schema | tojson }}
