{% from "parts/rubric.j2" import rubric %}
{% include "shared/style.j2" %}
Critique the current answer against the task. Identify concrete problems and improvements.
{{ rubric(instance.criteria) }}
Task: {{ instance.task }}
Current answer:
{{ instance.answer }}

Earlier drafts:
{% for revision in instance.revisions %}
{{ loop.index }}. {{ revision }}
{% endfor %}
Earlier feedback:
{% for feedback in instance.feedback_history %}
{{ loop.index }}. {{ feedback }}
{% endfor %}
