{% include "shared/style.j2" %}
Revise the answer using the feedback. Return the improved answer only.
Task: {{ instance.task }}
Current answer:
{{ instance.answer }}
Feedback:
{{ instance.feedback }}

Earlier drafts:
{% for revision in instance.revisions %}
{{ loop.index }}. {{ revision }}
{% endfor %}
Earlier feedback:
{% for item in instance.feedback_history %}
{{ loop.index }}. {{ item }}
{% endfor %}
